name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-package:
    name: Build & inspect
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: hynek/build-and-inspect-python-package@v1

  test:
    name: Run quick tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: wntrblm/nox@2022.8.7
        with:
          python-versions: "3.6, 3.7, 3.8, 3.9, 3.10, 3.11-dev"
      - run: nox -s tests
